name: PackPlugin
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    uses: FriendsOfShopware/actions/.github/workflows/github.yml@main
    with:
      extensionName: ${{ github.event.repository.name }}
      shopwareVersion: '6.6.0'
      cliVersion: '0.11.0'